<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Music</title>
    {% include "javascript" %}
</head>
<body>
{% include "header.html" %}
<br>
<div class="container">
    <div class="row"><h2>Browse Music</h2></div>
    <br>
    {% if entries %}
        <ol start="{{ first_num }}">
            {% for entry in entries %}
    	        <li> <a href="{{ url_for('get', musicid=entry.position) }}">{{ entry.title }}</a> </li>
            {% endfor %}
        </ol>
        <br>
    {% else %}
    <div class="row"> This page is empty. </div>
    {% endif %}
</div>
</body>
</html>
