<!DOCTYPE html>

<head>
    <title>Song {{ id }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    {% include "javascript" %}
</head>

<body>
{% include "header.html" %}

<br>
<div class="container">
    {% if entry %}
    <div class="row">
        <div class="col">
            Submitted by {{entry.added_by}} at <script> document.write(moment.utc("{{entry.date_added}}").local().format("h:mm:ss a, MMMM Do YYYY"))</script>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <input type="checkbox" id="shuffle" onchange="handleCheckbox(this)" {% if shuffle %} checked {%endif%}>
                &nbsp;<label for="shuffle">Shuffle
            </label>
            </form>
        </div>
    </div>
    <br>
        {%  if entry.type == 'youtube' %}
            {% include 'youtube.html' %}
        {% elif entry.type == 'bandcamp' %}
            {% include 'bandcamp.html' %}
        {%  endif %}
    {% else %}
    <div class="row">
        This id doesn't exist yet!
    </div>
    <br>
    <div class="row"><a href="{{ url_for('get', musicid=id) }}">Try again?</a></div>
    {% endif %}
    <br>
    <div class="row">
        {% if id != 1 %}
        <div class="col-auto">
            <a href="{{ url_for('get', musicid=id-1) }}" class="btn btn-outline-primary btn-sm">Previous</a>
        </div>
        {% endif %}
        {% if entry %}
        <div class="col-auto">
            <a href="{{ url_for('get', musicid=id+1) }}" class="btn btn-outline-primary btn-sm">Next</a>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="{{ url_for('add') }}" class="btn btn-primary">Add video</a>
        </div>
    </div>
</div>
</body>
